<div class="goals-title">{{title}}</div>
<div class="goals-description">{{description}}</div>
<div class="goals-define">
  <div class="goals-predefined">{{chooseGoalText}}</div>
  <a href="#" class="goals-create">{{defineGoalText}}</a>
</div>
<div class="goals-view"></div>