.h5p-goals-page {
  padding: 0.5em 1em;
}

.h5p-goals-page .goals-help-text {
  float: right;
  color: #1a73d9;
  cursor: pointer;
  font-size: 0.8em;
  line-height: 3.6em;
}

/* Goal container */
.h5p-goals-page .created-goal-container {
  position: relative;
  border-bottom: 2px solid #D6D6D6;
  background-color: #f5f5f5;
  padding: 0.75em;
  margin-bottom: 1em;
}

/* ------------------------ Main classes ----------------------------- */

.h5p-goals-page .goals-title {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  font-size: 18px;
  color: #555;
}

.h5p-goals-page .goals-define {
  margin: 1em 0;
}

.h5p-goals-page .goals-description {
  padding-top: 1em;
}

.h5p-goals-page .goals-counter .goals-counter-text {
  color: #555;
  opacity: 0.75;
}

.h5p-goals-page .goals-view {
  padding-top: 0.25em;
}

/* ------------------- Goal container truncation ------------------------- */

.h5p-goals-page .created-goal-container .created-goal {
  display: inline-block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-left: 1px;
  color: #fff;
  width: 100%;
}

/* Set initial height of input field when empty, so it is editable */
.h5p-goals-page .created-goal-container .created-goal:empty {
  display: inline-block;
  min-height: 0.5em;
}

.h5p-goals-page .created-goal-container .created-goal.truncate {
  -webkit-line-clamp: 2;
}

.h5p-goals-page .created-goal-container:hover .created-goal {
  -webkit-line-clamp: initial;
}

.h5p-goals-page .created-goal-container .created-goal:focus {
  border: 0;
  outline: 0;
  -webkit-line-clamp: initial;
  height: initial;
}

/* ------------------------- Goal container colors ------------------------ */
/* Background colors */
.h5p-goals-page .created-goal-container.goal-type-0,
.h5p-goals-page .created-goal-container.goal-type-1,
.h5p-goals-page .created-goal-container.goal-type-2 {
  background-color: #1a73d9;
}

.h5p-goals-page .created-goal-container.focused {
  background-color: #eee;
  color: #666;
}

.h5p-goals-page .created-goal-container.focused .created-goal,
.h5p-goals-page .created-goal-container.focused .h5p-created-goal-footer .h5p-created-goal-hover-footer .footer-description,
.h5p-goals-page .created-goal-container.goal-type-0.focused .h5p-created-goal-footer,
.h5p-goals-page .created-goal-container.goal-type-1.focused .h5p-created-goal-footer,
.h5p-goals-page .created-goal-container.goal-type-2.focused .h5p-created-goal-footer {
  color: #666;
}


/* ----------------------------------- Goal specification --------------------------- */
/* Remove bottom margin for specification, since it is provided by parent */
.h5p-goals-page .created-goal-container.has-specification .h5p-created-goal-specification {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  border-bottom: 0;
  transition: max-height 0.5s linear, opacity 0.5s linear, margin 0.6s ease-in, padding 0.6s ease-in;
}

/* Hide specification container initially */
.h5p-goals-page .created-goal-container.has-specification .h5p-created-goal-specification .created-goal {
  max-height: 0;
  opacity: 0;
  padding: 0;
  left-padding: 1px;
  transition: max-height 0.5s linear, opacity 0.5s linear, margin 0.6s ease-in, padding 0.6s ease-in;
}

/* ------------------------------ Goal container footer ------------------------------ */

/* Hide footer initially */
.h5p-goals-page .created-goal-container .h5p-created-goal-footer {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s linear, opacity 0.5s linear, margin 0.6s ease-in, padding 0.6s ease-in;
  width: 100%;
  height: 2em;
}

/* Hide input footers and their elements initially*/
.h5p-goals-page .created-goal-container .h5p-created-goal-hover-footer,
.h5p-goals-page .created-goal-container .h5p-created-goal-hover-footer *,
.h5p-goals-page .created-goal-container .h5p-created-goal-input-footer,
.h5p-goals-page .created-goal-container .h5p-created-goal-input-footer * {
  max-height: 0;
  opacity: 0;
  margin: 0;
  transition: all 0s;
}

/* Hide specification initially */
.h5p-goals-page .created-goal-container .h5p-created-goal-specification {
  max-height: 0;
  opacity: 0;
  padding: 0;
  transition: max-height 0.5s linear, opacity 0.5s linear, margin 0.6s ease-in, padding 0.6s ease-in;
}

/* --------------------- Goal container hovered ------------------------------ */

/* Show hover footer and specifications on hover */
.h5p-goals-page .created-goal-container:hover .h5p-created-goal-footer,
.h5p-goals-page .created-goal-container:hover .h5p-created-goal-hover-footer,
.h5p-goals-page .created-goal-container:hover .h5p-created-goal-specification,
.h5p-goals-page .created-goal-container:hover .h5p-created-goal-specification .created-goal {
  max-height: 50em;
  opacity: 1;
  transition: max-height 0.4s linear, opacity 0.7s linear, margin 0.1s ease-out, padding 0.1s ease-out;
}

.h5p-goals-page .created-goal-container:hover .h5p-created-goal-hover-footer * {
  max-height: 50em;
  opacity: 0.75;
  transition: max-height 0.4s linear, opacity 0.7s linear, margin 0.1s ease-out, padding 0.1s ease-out;
}

.h5p-goals-page .created-goal-container:hover .h5p-created-goal-specification .created-goal {
  padding-left: 1px;
}

.h5p-goals-page .created-goal-container:hover .h5p-created-goal-hover-footer * {
  transition: opacity 0.2s ease-out;
}

/* Padding for specification */
.h5p-goals-page .created-goal-container.has-specification:hover .h5p-created-goal-specification {
  padding: 0.75em;
  margin-top: 0.75em;
  transition: padding 0.1s ease-out, margin 0.1s ease-out;
}

/* Button margins */
.h5p-goals-page .created-goal-container:hover .h5p-created-goal-hover-footer * {
  transition: margin 0.1s ease-out;
  margin: 0.5em 1em 0.5em 0;
}

/* -------------------- Goal container focused ------------------------------ */

/* Show input footer on focus */
.h5p-goals-page .created-goal-container.focused,
.h5p-goals-page .created-goal-container.focused .h5p-created-goal-footer,
.h5p-goals-page .created-goal-container.focused .h5p-created-goal-input-footer {
  max-height: 50em;
  opacity: 1;
  transition: max-height 0.4s linear, opacity 0.7s linear, margin 0.1s ease-out, padding 0.1s ease-out;
}

.h5p-goals-page .created-goal-container.focused .h5p-created-goal-input-footer * {
  max-height: 50em;
  opacity: 0.75;
  transition: max-height 0.4s linear, opacity 0.2s ease-out, margin 0.1s ease-out, padding 0.1s ease-out;
}

/* Hide hover footer on focus */
.h5p-goals-page .created-goal-container:hover .created-goal-container.focused .h5p-created-goal-hover-footer,
.h5p-goals-page .created-goal-container:hover .created-goal-container.focused .h5p-created-goal-hover-footer *,
.h5p-goals-page .created-goal-container.focused:hover .h5p-created-goal-hover-footer,
.h5p-goals-page .created-goal-container.focused:hover .h5p-created-goal-hover-footer * {
  max-height: 0;
  opacity: 0;
  margin: 0;
  transition: all 0s;
}

/* Buttons margins */
.h5p-goals-page .created-goal-container.focused .h5p-created-goal-input-footer * {
  transition: margin 0.1s ease-out;
  margin: 0.5em 1em 0.5em 0;
}

/* Show specification padding */
.h5p-goals-page .created-goal-container .h5p-created-goal-specification.focused {
  padding: 0.75em;
  margin-top: 0.75em;
  transition: padding 0.1s ease-out, margin 0.1s ease-out;
}

/* ------------------- Specification container focused ------------------------- */

/* Show hover footer on hover */
.h5p-goals-page .created-goal-container.child-focused .h5p-created-goal-footer,
.h5p-goals-page .created-goal-container.child-focused .h5p-created-goal-hover-footer,
.h5p-goals-page .created-goal-container.child-focused .h5p-created-goal-specification,
.h5p-goals-page .created-goal-container.child-focused .h5p-created-goal-specification .created-goal {
  max-height: 50em;
  opacity: 1;
  transition: max-height 0.4s linear, opacity 0.7s linear, margin 0.1s ease-out, padding 0.1s ease-out;
}

.h5p-goals-page .created-goal-container.child-focused .h5p-created-goal-hover-footer * {
  max-height: 50em;
  opacity: 0.75;
  transition: max-height 0.4s linear, opacity 0.7s linear, margin 0.1s ease-out, padding 0.1s ease-out;
}

/* Hide hover footer on focus */
.h5p-goals-page .created-goal-container.child-focused .created-goal-container.focused .h5p-created-goal-hover-footer,
.h5p-goals-page .created-goal-container.child-focused .created-goal-container.focused .h5p-created-goal-hover-footer * {
  max-height: 0;
  opacity: 0;
  margin: 0;
  transition: all 0s;
}

.h5p-goals-page .created-goal-container.child-focused .h5p-created-goal-specification .created-goal {
  padding-left: 1px;
}

/* Padding for specification */
.h5p-goals-page .created-goal-container.has-specification.child-focused .h5p-created-goal-specification {
  padding: 0.75em;
  margin-top: 0.75em;
  transition: padding 0.1s ease-out, margin 0.1s ease-out;
}

/* Hide hover footer for focused item */
.h5p-goals-page .created-goal-container.child-focused .h5p-created-goal-specification.focused .h5p-created-goal-hover-footer {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s linear, opacity 0.5s linear, margin 0.6s ease-in, padding 0.6s ease-in;
}

/* Button margins */
.h5p-goals-page .created-goal-container.child-focused .h5p-created-goal-hover-footer * {
  transition: margin 0.1s ease-out;
  margin: 0.5em 1em 0.5em 0;
}

/* ------------------------------ Goal footer elements ------------------------------ */

/* Description field */
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-hover-footer .footer-description {
  display: inline-block;
  float: left;
  max-width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
  opacity: 0.75;
  color: #fff;
}

/* Text colors */
.h5p-goals-page .created-goal-container.goal-type-0 .h5p-created-goal-footer,
.h5p-goals-page .created-goal-container.goal-type-1 .h5p-created-goal-footer,
.h5p-goals-page .created-goal-container.goal-type-2 .h5p-created-goal-footer {
  color: #fff;
  opacity: 0.75;
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-done,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-edit,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-specify,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-remove {
  display: inline-block;
  float: right;
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

/* Icons */
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-done:before,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-edit:before,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-specify:before,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-remove:before {
  font-family: 'H5PFontAwesome4';
  content: '\f00c';
  padding-right: 0.5em;
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-remove:before {
  content: '\f00d';
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-edit:before {
  content: '\f044';
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-specify:before {
  content: '\f05b';
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-done:hover,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-edit:hover,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-specify:hover,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-remove:hover {
  opacity: 1;
}

/* ------------------------------ Buttons -------------------------------------------------- */
/* Rounded button css in 'H5P.JoubelUI' library */

.h5p-goals-page .goals-define .goals-create:before {
  font-family: "H5PFontAwesome4";
  content: "\f040";
  margin-right: 0.75em;
}

.h5p-goals-page .goals-define .goals-search {
  float: left;
  margin-right: 1em;
}

.h5p-goals-page .goals-define .goals-search:before {
  font-family: "H5PFontAwesome4";
  content: "\f07c";
  margin-right: 0.75em;
}

/* Active state positioning */
.h5p-goals-page .goals-define .goals-search:active:before,
.h5p-goals-page .goals-define .goals-create:active:before {
  position: relative;
  top: 2px;
}

/* ------------------------------ Responsive view ------------------------- */

/* Hide description field */
.h5p-goals-page .goals-view.no-footer-description .created-goal-container .h5p-created-goal-footer .h5p-created-goal-hover-footer .footer-description {
  display: none;
}

.h5p-goals-page .goals-view.no-footer-description.no-footer-labels .created-goal-container .h5p-created-goal-footer .h5p-created-goal-remove-text,
.h5p-goals-page .goals-view.no-footer-description.no-footer-labels .created-goal-container .h5p-created-goal-footer .h5p-created-goal-done-text,
.h5p-goals-page .goals-view.no-footer-description.no-footer-labels .created-goal-container .h5p-created-goal-footer .h5p-created-goal-edit-text,
.h5p-goals-page .goals-view.no-footer-description.no-footer-labels .created-goal-container .h5p-created-goal-footer .h5p-created-goal-specify-text {
  display: none;
}



