.h5p-goals-page {
  padding: 0.5em 1em;
}

.h5p-goals-page .goals-help-text {
  float: right;
  color: #85B1E3;
  cursor: pointer;
  font-size: 0.8em;
}

/* Goal container */
.h5p-goals-page .created-goal-container {
  position: relative;
  border-bottom: 2px solid #D6D6D6;
  background-color: #FFF;
}

.h5p-goals-page .created-goal-container.goal-type-0 {
  background-color: #95D641;
}

.h5p-goals-page .created-goal-container.goal-type-1 {
  background-color: #3FC3FF;
}

.h5p-goals-page .created-goal-container.goal-type-2 {
  background-color: #1CE8B5;
}

.h5p-goals-page .created-goal-container.focused {
  background-color: #FFFFFF;
}

/* -------------------------------------------------- Sub classes -------------------------------------- */

.h5p-goals-page .goals-title {
  border-bottom: 1px solid #E5E5E5;
  padding: 0.25em 0;
}

.h5p-goals-page .goals-define {
  margin: 1em 0em;
}

.h5p-goals-page .goals-description {
  padding-top: 0.5em;
}

.h5p-goals-page .goals-view {
  padding-top: 1em;
}

/* -------------------------------------------------- Goal list containers --------------------------- */

.h5p-goals-page .created-goal-container .created-goal {
  width: 100%;
}

.h5p-goals-page .created-goal-container .created-goal:focus {
  border: 0;
  outline: 0;
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer {
  width: 100%;
  overflow: auto;
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-done,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-remove {
  display: inline-block;
  float: right;
  cursor: pointer;
  margin: 0.5em 1em 0.5em 0em;
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-done:before,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-remove:before {
  font-family: 'H5PFontAwesome4';
  content: '\f00c';
  margin-right: 0.5em;
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-remove:before {
  content: '\f00d';
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-remove {
  margin: 0em 1em 0em 0em;
}

/* ------------------------------ Buttons -------------------------------------------------- */
/* Rounded button css in 'h5p-joubel-ui' library */

.h5p-goals-page .goals-define .goals-create:before {
  font-family: "H5PFontAwesome4";
  content: "\f040";
  margin-right: 0.75em;
}

.h5p-goals-page .goals-define .goals-search {
  float: left;
  margin-right: 1em;
}

.h5p-goals-page .goals-define .goals-search:before {
  font-family: "H5PFontAwesome4";
  content: "\f07c";
  margin-right: 0.75em;
}

/* ------------------------------ Grep API view -------------------------------------------- */

.h5p-goals-page .h5p-curriculum-popup {
  position: absolute;
  top: 0;
  left: 20%;
  width: 80%;
  height: 100%;
  border: 1px solid black;
  background: #FFF;
  z-index: 1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}

.h5p-goals-page .h5p-view-list-container .h5p-view-list-entry {
  border: 1px solid black;
  cursor: pointer;
  width: 90%;
  margin: 0em 0.5em;

}

.h5p-goals-page .h5p-view-list-container .h5p-view-list-entry.h5p-curriculum-instance {
  background-color: #fffadb;
}

.h5p-goals-page .h5p-view-list-container .h5p-view-list-entry.h5p-competence-aim-set-instance {
  background-color: #ffc2f9;
}

.h5p-goals-page .h5p-view-list-container .h5p-view-list-entry.h5p-competence-aim-instance {
  background-color: #cdecff;
}

.h5p-goals-page .h5p-view-list-container .h5p-view-list-entry.h5p-competence-aim-instance.selected {
  background-color: #3fff38;
}

.h5p-curriculum-view {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  overflow: auto;
}


.h5p-goals-page .h5p-bottom-bar {
  position: relative;
  margin: 0.5em;
}

.h5p-goals-page .h5p-bottom-bar-button {
  display: inline-block;
  float: right;
  cursor: pointer;
}

.h5p-goals-page .h5p-bottom-bar-text {
  display: inline-block;
}

/* ---------------------------------- Grep Dialog Box ---------------------------------- */

/* ------------------------------------ Header ----------------------------------------- */

.h5p-goals-page .h5p-curriculum-header {
  height: 3em;
}

/* Remove dialog box */
.h5p-goals-page .h5p-curriculum-header .h5p-curriculum-popup-exit:after {
  font-family: "H5PFontAwesome4";
  content: "\f00d";
}

.h5p-goals-page .h5p-curriculum-popup-exit {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

/* Search area */
.h5p-goals-page .h5p-curriculum-search-container {
  width: 100%;
}

.h5p-goals-page .h5p-curriculum-search-box {
  margin: 0.5em 0.5em;
  width: 88%;
}

/* ------------------------------------ Dialog list ------------------------------------ */

/* Throbber */
.h5p-goals-page .h5p-curriculum-popup .h5p-throbber-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  height: 100%;
}
