.h5p-goals-page {
  padding: 0.5em 1em;
}

.h5p-goals-page .goals-help-text {
  float: right;
  color: #85B1E3;
  cursor: pointer;
  font-size: 0.8em;
}

/* Goal container */
.h5p-goals-page .created-goal-container {
  position: relative;
  border-bottom: 2px solid #D6D6D6;
  background-color: #ffffff;
  padding: 0.75em;
  margin-bottom: 1em;
}

.h5p-goals-page .created-goal-container.goal-type-0,
.h5p-goals-page .created-goal-container.goal-type-2 {
  background-color: #cad6e1;
}

.h5p-goals-page .created-goal-container.goal-type-0 .h5p-created-goal-footer,
.h5p-goals-page .created-goal-container.goal-type-2 .h5p-created-goal-footer {
  color: #82888e;
}

.h5p-goals-page .created-goal-container.goal-type-1 {
  background-color: #a1b6cc;
}

.h5p-goals-page .created-goal-container.goal-type-1 .h5p-created-goal-footer {
  color: #69747f;
}

.h5p-goals-page .created-goal-container.focused {
  background-color: #FFFFFF;
}

/* -------------------------------------------------- Sub classes -------------------------------------- */

.h5p-goals-page .goals-title {
  border-bottom: 1px solid #E5E5E5;
  padding: 0.25em 0;
}

.h5p-goals-page .goals-define {
  margin: 1em 0;
}

.h5p-goals-page .goals-description {
  padding-top: 0.5em;
}

.h5p-goals-page .goals-counter .goals-counter-text {
  color: #999;
}

.h5p-goals-page .goals-view {
  padding-top: 1em;
}

/* -------------------------------------------------- Goal list containers --------------------------- */

.h5p-goals-page .created-goal-container .created-goal {
  display: block; /* fallback */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.h5p-goals-page .created-goal-container .created-goal.truncate {
  -webkit-line-clamp: 2;
}

.h5p-goals-page .created-goal-container:hover .created-goal {
  -webkit-line-clamp: initial;
}

.h5p-goals-page .created-goal-container .created-goal:focus {
  border: 0;
  outline: 0;
  -webkit-line-clamp: initial;
  height: initial;
}

/* --------------------------------------- Goal specification -------------------------*/
.h5p-goals-page .created-goal-container.has-specification .created-goal {
  padding-bottom: 0.5em;
}

.h5p-goals-page .created-goal-container.has-specification .h5p-created-goal-specification .created-goal {
  padding-bottom: 0;
}

.h5p-goals-page .created-goal-container.has-specification .h5p-created-goal-specification {
  margin-bottom: 0;
}

.h5p-goals-page .created-goal-container.has-specification .h5p-created-goal-footer .h5p-created-goal-specify,
.h5p-goals-page .created-goal-container.has-specification .h5p-created-goal-specification .h5p-created-goal-footer,
.h5p-goals-page .created-goal-container.has-specification:hover .h5p-created-goal-specification.focused .h5p-created-goal-footer .h5p-created-goal-hover-footer {
  display: none;
}

.h5p-goals-page .created-goal-container.has-specification .h5p-created-goal-specification:hover .h5p-created-goal-footer,
.h5p-goals-page .created-goal-container.has-specification .h5p-created-goal-specification.focused .h5p-created-goal-footer {
  display: block;
}

/* Hide specification when not hovered */
.h5p-goals-page .created-goal-container.has-specification .h5p-created-goal-specification {
  max-height: 0;
  opacity: 0;
  padding: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.7s;
  transition-delay: 0.25s;
}

.h5p-goals-page .created-goal-container.has-specification:hover .h5p-created-goal-specification {
  max-height: 10em;
  opacity: 1;
  padding: 0.75em;
  transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.7s;
  transition-delay: 0.25s;
}

.h5p-goals-page .created-goal-container.has-specification .h5p-created-goal-specification.focused {
  max-height: 10em;
  opacity: 1;
  padding: 0.75em;
}

/* ------------------------------ Goal container footer ------------------------------ */
.h5p-goals-page .created-goal-container .h5p-created-goal-footer {
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease;
  transition-delay: 0.25s;
  width: 100%;
  height: 2em;
}

/* Show footer on hover */
.h5p-goals-page .created-goal-container:hover .h5p-created-goal-footer {
  max-height: 10em;
  opacity: 1;
}

/* Hide content initially */
.h5p-goals-page .created-goal-container .h5p-created-goal-input-footer {
  display: none;
}

.h5p-goals-page .created-goal-container .h5p-created-goal-hover-footer {
  display: none;
}

.h5p-goals-page .created-goal-container:hover .h5p-created-goal-footer .h5p-created-goal-hover-footer {
  display: block;
}

/* When input is focused */

.h5p-goals-page .created-goal-container.focused .h5p-created-goal-footer {
  max-height: 10em;
  opacity: 1;
}

.h5p-goals-page .created-goal-container.focused .h5p-created-goal-footer .h5p-created-goal-input-footer,
.h5p-goals-page .created-goal-container.focused:hover .h5p-created-goal-footer .h5p-created-goal-input-footer {
  display: block;
}

.h5p-goals-page .created-goal-container.focused .h5p-created-goal-hover-footer,
.h5p-goals-page .created-goal-container.focused:hover .h5p-created-goal-hover-footer {
  display: none;
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-hover-footer .footer-description {
  display: inline-block;
  float: left;
  margin: 0.5em 1em 0.5em 0;
}

/* ------------------------------ Goal footer buttons ------------------------------ */
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-done,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-edit,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-specify,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-remove {
  display: inline-block;
  float: right;
  cursor: pointer;
  margin: 0.5em 1em 0.5em 0;

  transition: all .2s ease-in-out;
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-done:before,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-edit:before,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-specify:before,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-remove:before {
  font-family: 'H5PFontAwesome4';
  content: '\f00c';
  margin-right: 0.5em;
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-remove:before {
  content: '\f00d';
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-edit:before {
  content: '\f044';
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-specify:before {
  content: '\f05b';
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-done:hover,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-edit:hover,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-specify:hover,
.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-remove:hover {
  transform: scale(1.05);
  color: #38393a;
}

/* ------------------------------ Buttons -------------------------------------------------- */
/* Rounded button css in 'H5P.JoubelUI' library */

.h5p-goals-page .goals-define .goals-create:before {
  font-family: "H5PFontAwesome4";
  content: "\f040";
  margin-right: 0.75em;
}

.h5p-goals-page .goals-define .goals-search {
  float: left;
  margin-right: 1em;
}

.h5p-goals-page .goals-define .goals-search:before {
  font-family: "H5PFontAwesome4";
  content: "\f07c";
  margin-right: 0.75em;
}
